
body {
  margin: 0;
  position: relative;
}

/* wrapper */
.wrapper {
  max-width: 1160px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

/*logo inicial*/
.logo-container {
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
}

/*navbar*/
.navbar {
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.burger {
  display: none;
  width: 25px;
  height: 25px;
}

#button-menu {
  display: none;
}

.button-menu-open {
  display: block;
}

.button-menu-close {
  display: none;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.items li {
  text-align: start;
  list-style: none;
  padding: 0px 20px;
}

.items li:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.items a {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: #000000;
  text-transform: uppercase;
}

.items a:active {
  color: blue;
  text-decoration: line-through;
}

/*titulo*/
.title-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-title {
  color: #060A24;
  font-size: 64px;
  margin-bottom: 0;
}

.world-paragraph {
  text-decoration: line-through;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
}

.header-paragraph {
  width: 628px;
  margin-bottom: 56px;
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

.titles {
  box-sizing: border-box;
  font-size: 62px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.blue {
  color: blue;
}

.buttons {
  padding: 16px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00F0B8), to(#00F0B8));
  background-image: linear-gradient(#00F0B8, #00F0B8);
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.buttons:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

/* contenido */
.podcast-container {
  position: relative;
  z-index: 1;
}

.podcast-container .wrapper {
  position: relative;
  z-index: 2;
}

.podcast-skew {
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(#3535fa), to(#0000A3));
  background-image: linear-gradient(to left, #3535fa, #0000A3);
  top: -80px;
  bottom: -220px;
  right: 0;
  left: 0;
  z-index: 1;
  transform: skew(0, -6deg);
}

.podcast-title {
  color: white;
  padding-top: 40px;
}

.podcast-episodes {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
}

iframe {
  width: 100%;
  height: 232px;
  border: 0;
}

/*phone*/
section {
  margin-bottom: 50px;
}

.phone-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 150px;
  z-index: 2;
}

.phone-text {
  width: 464px;
  margin-left: 60px;
}

.phone-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 48px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  color: #060A24;
}

.phone-paragraph {
  color: #060A24;
  line-height: 24px;
}

.paragraphs {
  font-family: 'IBM Plex Mono', monospace;
}

/*historia*/
.images-title {
  color: #060A24;
}

.images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images-row img {
  width: calc(100% / 3);
}

/*iconos*/
.icons-container {
  margin-bottom: 0;
}

.all-icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-title {
  color: #060A24;
}

.icon-text {
  width: 220px;
  font-size: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
  text-align: center;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.icon img {
  width: 104px;
  margin-left: auto;
  margin-right: auto;
}

/*novedades*/
.novedades-container {
  position: relative;
  padding-top: 160px;
  padding-bottom: 180px;
  overflow: hidden;
  margin-bottom: 0;
}

.novedades-skew {
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(to left, #0000FF, #0000A3);
  top: 80px;
  bottom: -120px;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: skew(0, -6deg);
          transform: skew(0, -6deg);
}

.novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.novedades-title {
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.novedades-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*footer*/
.footer-container {
  padding: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: #FFFFFF;
}

.trademark-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trademark {
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-items li {
  text-align: start;
  list-style: none;
  padding: 0px 20px;
}

.footer-items a {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  text-transform: uppercase;
}

.footer-items i {
  font-size: 20px;
  color: #060A24;
}



.go-top-container{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2.2rem;
  height: 2.2rem;
  z-index: -1;
}

.go-top-button{
  width: 0rem;
  height: 0rem;
  background: #00F0B8;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button .fotico{
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: .2s;
  width: 30px;
  height: 30px;
}

.show {
  z-index: 10;
}

.show .go-top-button{
  animation: popup .3s ease-in-out;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 11;
}

.show .fotico{
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
  0%{
    width: 0rem;
    height: 0rem;
  }
  50%{
    width: 6rem;
    height: 6rem;
  }
  100%{
    width: 4.4rem;
    height: 4.4rem;
  }
}
